{{#> layouts/base}}
    {{#*inline "content-block"}}
        <div class="row">
            <!--<div class="col-md-6">-->
            <!--    <h4>Announcements</h4>-->
            <!--    <ul class="categories custom-bullet">-->
            <!--        <li><a href="https://support.feed-the-beast.com/faq/new-design">New Website Design</a></li>-->
            <!--    </ul>-->
            <!--</div>-->
            <div class="col-md-6">
                <h4>Client Guides</h4>
                <ul class="categories custom-bullet">
                    {{#each topics.twitch}}
                        <li><a href="{{this.uri}}">{{this.title}}</a></li>
                    {{else}}
                        <li>Something Broke</li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Server Guides</h4>
                <ul class="categories custom-bullet">
                    {{#each topics.server}}
                        <li><a href="{{this.uri}}">{{this.title}}</a></li>
                    {{else}}
                        <li>Something Broke</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>FAQ</h4>
                <ul class="categories custom-bullet">
                    {{#each topics.faq}}
                        <li><a href="{{this.uri}}">{{this.title}}</a></li>
                    {{else}}
                        <li>Something Broke</li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Legacy FTB Launcher Guides</h4>
                <ul class="categories custom-bullet">
                    {{#each topics.legacy}}
                        <li><a href="{{this.uri}}">{{this.title}}</a></li>
                    {{else}}
                        <li>Something Broke</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <h4>Server Guides</h4>
                <ul class="categories custom-bullet">
                    <li><a href="https://support.feed-the-beast.com/faq/downloadServer">Downloading Server Files</a></li><li><a href="https://support.feed-the-beast.com/faq/serverSetup">Setting up a server</a></li><li><a href="https://support.feed-the-beast.com/faq/serverUpdate">Updating a server</a></li>
                </ul>
            </div>
        </div> -->
    {{/inline}}
{{/layouts/base}}